/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2, .h3 {
    font-weight: bold;;
  }
  
  .servicios {
    text-align: center;
    padding: 50px 10px;
  }
  
  .titulo-servicios {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .descripcion-general {
    font-weight: 400;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #000000;
    font-size: 20px; /* Aumenta el tamaño del texto */
  }
  
  /* Estilos para la sección de servicios */
  .servicio-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .servicio {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, border-color 0.3s ease;
  }
  
  .servicio:hover {
    transform: translateY(-5px);
    border-color: #4CAF50;
    border-style: solid;
    border-width: 2px;
  }
  
  .icono img {
    width: 100%;  /* Usar el ancho completo del contenedor */
    height: auto;  /* Mantener la relación de aspecto de la imagen */
    object-fit: cover; /* Mantener la imagen sin distorsión */
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}


  
  h3 {
    color: #4CAF50;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1em;
  }
  
  /* Estilos para la sección de testimonios */
  .testimonios {
    background-color: #fff;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .testimonios h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  
  .testimonios p {
    font-size: 1.2em;
    color: #555;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .servicio-container {
      flex-direction: column;
      align-items: center;
    }
  
    .servicio {
      width: 80%;
    }
  }
  
  .carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
  }

  .carousel-item {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
  }

  .carousel-container img {
    width: 100%;
    object-fit: cover;
  }

  .comentario {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .ver-mas {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  .ver-mas:hover {
    background-color: #0056b3;
  }
  